
name: "CI - os - nix -Python "

on:
  pull_request:
    branches: ["master"]
  push:
    branches: [master]

jobs:
  testSuite:
## build
    name: Test on Python${{ matrix.python-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-10.14, ]  
        python-version: [3.7, 3.8, 3.9 ]
        exclude:
          - python-version: 3.9

## tasks per natrix element
    steps:
    - uses: actions/checkout@v2

    - name: Install/Setup - PYTHON
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        #architecture: 'x64'

    - name: Install/Setup - NIX
      uses: cachix/install-nix-action@v9
      with:
        skip_adding_nixpkgs_channel: true

    - name: PYTHON - Install dependencies
      run: |
        python -m pip install --upgrade pip
<<<<<<< HEAD
        pip install flake8 pytest coverage
=======
        pip install flake8 pytest
>>>>>>> 9eb510734045b2263bbaf27d37432ea2df4bcb0b

    - name: PYTHON - Lint (with flake8) over project files
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

## tests build + pytest
    - name: NIX PY - Build + pytest 
      run: nix-env -if . -A mach-nix
      shell: bash

    - name: "Convert coverage"
      run: "python -m coverage xml"
    - name: "Upload coverage to Codecov"
      uses: "codecov/codecov-action@v1"
      with:
        fail_ci_if_error: true

<<<<<<< HEAD
=======
   
>>>>>>> 9eb510734045b2263bbaf27d37432ea2df4bcb0b
